<?xml version="1.0" encoding="utf-8" standalone="no"?>
<config>
	<modules>
		<Snowdog_FirstItemFree>
			<version>0.1.0</version>
		</Snowdog_FirstItemFree>
	</modules>
	<global>
		<models>
			<snowfirstitemfree>
				<class>Snowdog_FirstItemFree_Model</class>
			</snowfirstitemfree>
		</models>
		<helpers>
			<snowfirstitemfree>
				<class>Snowdog_FirstItemFree_Helper</class>
			</snowfirstitemfree>
		</helpers>
		<events>
			<salesrule_validator_process>
				<observers>
					<snowfirstitemfree_salesrule_validator_process>
						<class>snowfirstitemfree/observer</class>
						<method>salesruleValidatorProcess</method>
						<type>singleton</type>
					</snowfirstitemfree_salesrule_validator_process>
				</observers>
			</salesrule_validator_process>
			<adminhtml_block_salesrule_actions_prepareform>
				<observers>
					<snowfirstitemfree_adminhtml_block_salesrule_actions_prepareform>
						<class>snowfirstitemfree/observer</class>
						<method>adminhtmlBlockSalesruleActionsPrepareform</method>
						<type>singleton</type>
					</snowfirstitemfree_adminhtml_block_salesrule_actions_prepareform>
				</observers>
			</adminhtml_block_salesrule_actions_prepareform>
		</events>
	</global>
	<frontend>
		<translate>
			<modules>
				<Snowdog_FirstItemFree>
					<files>
						<default>Snowdog_FirstItemFree.csv</default>
					</files>
				</Snowdog_FirstItemFree>
			</modules>
		</translate>
	</frontend>
	<adminhtml>
		<translate>
			<modules>
				<Snowdog_FirstItemFree>
					<files>
						<default>Snowdog_FirstItemFree.csv</default>
					</files>
				</Snowdog_FirstItemFree>
			</modules>
		</translate>
	</adminhtml>
</config>
